{% extends 'core/base.html' %}
{% block title %}Edit Student{% endblock title %}
{% block main_content %}
<section class="container">
    <nav class="navbar bg-dark shadow-lg border-body " data-bs-theme="dark">
        <div class="container-fluid ">
            <a class="navbar-brand">School/University</a>
            <a href="{% url 'logout' %}" class="btn btn-primary justify-content-around d-flex">Logout</a>
        </div>
    </nav>
    <div class="row justify-content-around text-center text-white mt-5">
        <div class="col-sm-8">
            <h3>Edit Student(CRUD In Django)</h3>
        </div>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col-sm-4">
            <form action="" method="POST" class="bg-white p-3 rounded shadow">
                {% csrf_token %}
                {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary">
            <a href="{% url 'cancel' %}" class="btn btn-danger justify-content-around flex">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock main_content %}