<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Task-1</title>
</head>
<body>
	<header>
	<div class="nav">
		<h1>RESUME</h1>
	</div>
	</header><hr>
	
	<div class="name">
		<div class="name1">
			<h2><span id="intro">Hello,I'M</span><br>Mit <span id="sname">Amipara</span></h2>
		</div>
	</div>
	
	<div class="about">
		<h3><span id="A">A</span>bout</h3>
		<ul id="ul1">
			<li><p>Hello! I'm Mit, a passionate fresh developer with a deep love for
            developing skills.</p></li>
			<li><p>My goal is to becomes a good skilled developer Through my diverse experiences, I am constantly exploring new technologies and trends to ensure that my work remains innovative and impactful.</p></li>
		</ul>
	</div>
	
	<section id="education">
    <h3 class="title"><span id="E">E</span>ducation</h3>
    
    <div class="education-item">
    	<ul id=ul2>
       		<h4>B.TECH - IT (2021 - 2025)</h4>
       		<ul>
	      		<li><p>Silver Oak University, (Ahmedabad)</p></li>
	      		<li><p>  Currently Pursuing Bechlor degree At Silveroak University.</p></li>
	      	</ul>
  		</ul>
    </div>
    <div class="education-item">
    	<ul id="ul2">
	      <h4>Higher Education (2020 - 2021)</h4>
		    <ul>
		      <li><p>SMT Shantaben Haribhai Gajera School, (Amreli)</p></li>
		      <li><p> Complete My Higher Education with secure 59.76% in 12th Board Exam.</p></li>
		    </ul>
	     </ul>
    </div>
    <div class="education-item">
      	<ul id="ul2">
      		<h4>Secondary Education (2019 - 2020)</p></h4>
      		<ul>
		      <li><p>Apollo Internationl School, (Visavadar)</p></li>
		      <li><p> Complete My Secondary Education with secure 71.89% in 10th Board Exam.</p></li>
		    </ul>
		</ul>
    </div>
  </section>
  
  <section id="skill">
    <h3 class="title"><span id="S">S</span>kills</h3>
    <div class="skill1">
    	<ul id="ul3">     		
	    	<li>HTML, CSS, Java Script</li>
	  		<li>PHP, My SQL, Mongo DB</li>
	  		<li>C, Python</li>
  		</ul>
    </div>
</body>
</html>